<section>
  <h1>About Me</h1>
    <p> iOS开发老司机, Swift新司机<br/>
      <br/>我的经历:
      <br/>2007.9 进入吉大学习电子信息工程
      <br/>2011.9 考研失利，转投中传计算机专业，接触iOS
      <br/>2013.8 入职盘古搜索，以iOS程序员的身份开始职业生涯
      <br/>2014.3 公司和即刻搜索合并，入职新成立的中国搜索
      <br/>2015.12 人生第一次离职，离开国搜，入职联通支付<br/>
      <br/>我的微博: <a href="http://weibo.com/u/2638849461" target="_blank">JamesRaynor-刘毅</a>
      <br/>我的git主页: <a href="https://github.com/lucifer1988" target="_blank">lucifer1988</a>
      <br/>
      <br/><span id="wb_follow_btn"></span>
  </p>
</section>
