{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3350288267" type="text/javascript" charset="utf-8"></script>
<script>
    WB2.anyWhere(function(W){
        W.widget.followButton({
            'uid': 2638849461,
            'nick_name': 'JamesRaynor-刘毅',
            'id': "wb_follow_btn",
            'show_head' : true, 
            'show_name' : true, 
            'show_cancel': false
        });
    });
</script>